<div class="container">
  <div class="row">
    <!-- Filtros -->
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Filtros</h5>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-label">Género</label>
                <ng-select
                  [searchable]="false"
                  [items]="genero"
                  bindLabel="nombre"
                  placeholder="Elegir"
                  [clearable]="true"
                  [(ngModel)]="filtroGenero"
                  (clear)="filtroGenero = null"
                >
                </ng-select>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-label">Tamaño</label>
                <ng-select
                  [searchable]="false"
                  [items]="tamano"
                  bindLabel="nombre"
                  placeholder="Elegir"
                  [clearable]="true"
                  [(ngModel)]="filtroTamano"
                  (clear)="filtroTamano = null"
                >
                </ng-select>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-label">Edad</label>
                <ng-select
                  [searchable]="false"
                  [items]="edad"
                  bindLabel="nombre"
                  placeholder="Elegir"
                  [clearable]="true"
                  [(ngModel)]="filtroEdad"
                  (clear)="filtroEdad = null"
                >
                </ng-select>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-label">Discapacidad</label>
                <ng-select
                  [searchable]="false"
                  [items]="discapacidad"
                  bindLabel="nombre"
                  placeholder="Elegir"
                  [clearable]="true"
                  [(ngModel)]="filtroDiscapacidad"
                  (clear)="filtroDiscapacidad = null"
                >
                </ng-select>
              </div>
            </div>            
          </div>
          <hr>
          <!-- Botones -->
          <div class="row justify-content-center mt-3">
            <div class="col-lg-6 text-center">
              <button class="btn btn-success me-2" (click)="aplicarFiltros()">
                <i class="ti ti-search"></i> Buscar
              </button>
              <button class="btn btn-danger" (click)="limpiarFiltros()">
                <i class="ti ti-trash"></i> Limpiar
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>    

    <div class="container">
      <div class="row">
        <!-- Tarjeta con el número total de perritos -->
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Total de perritos</h5>
              <h1>{{ perritos.length }}</h1>
              <p> esperando encontrar una nueva familia</p>
            </div>
          </div>
        </div>

    <!-- Lista de perritos en cards -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Iterar sobre la lista de perritos filtrados -->
            <ng-container *ngFor="let perrito of perritosFiltrados">
              <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                  <div style="height: 200px; overflow: hidden;">
                    <img class="card-img-top" [src]="perrito.imagen" alt="Foto de {{ perrito.nombre }}" style="object-fit: cover; height: 100%;">
                  </div>                  <div class="card-body">
                    <h4 class="card-title">{{ perrito.nombre }}</h4>
                    <p class="card-text">{{ perrito.edad.nombre }}</p>
                    <p class="card-text">
                      <ng-container *ngIf="perrito.genero.nombre === 'Hembra'">
                        <i class="ti ti-gender-female"></i> <span style="color: rgb(254, 118, 204); font-weight: bold;">{{ perrito.genero.nombre }}</span><br>
                      </ng-container>
                      <ng-container *ngIf="perrito.genero.nombre === 'Macho'">
                        <i class="ti ti-gender-male"></i> <span style="color: blue; font-weight: bold;">{{ perrito.genero.nombre }}</span><br>
                      </ng-container>
                      <span><i class="ti ti-disabled"></i> <span style="font-weight: bold;">Discapacidad:</span>
                        <ng-container *ngIf="perrito.discapacidad; else noDiscapacidad">
                          {{ perrito.discapacidad.nombre }}
                        </ng-container>
                        <ng-template #noDiscapacidad>
                          Sin discapacidad
                        </ng-template>
                      </span>
                    </p>
                  </div>
                </div>
              </div>                              
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
