<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <!-- Botones adicionales -->
    <div class="navbar-nav flex-row order-md-last">
      <!-- Botón Inicio -->
      <button class="nav-link btn btn-primary bg-primary me-2" [routerLink]="['inicio']">
        <i class="ti ti-home-2" style="color: white; font-size: 24px;"></i>
      </button>
      <!-- Botón Adopciones -->
      <button class="nav-link btn btn-primary bg-primary me-2" [routerLink]="['adopciones']">
        <i class="ti ti-dog" style="color: white; font-size: 24px;"></i>
      </button>
      <!-- Botón Perritos -->
      <button class="nav-link btn btn-primary bg-primary me-2" [routerLink]="['perritos']">
        <i class="ti ti-paw" style="color: white; font-size: 24px;"></i>
      </button>
    </div>
  </div>
</header>
